@layer components {
  div.custom-dash:before {
    content: "";
    position: absolute;
    border-style: dashed;
    border-color: #c4c4c4;
    border-width: 5px;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
  }

  div.odd:before {
    left: 0;
    right: 0;
    border-radius: 60px;
  }

  div.custom-dash {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
}

@layer components {
  .btn {
    @apply font-semibold disabled:cursor-not-allowed
    w-full flex gap-2 items-center justify-center max-w-xs min-w-min
    focusable
    rounded data-[loading=true]:cursor-wait;
  }

  .btn > svg {
    @apply shrink-0;
  }
}

@layer components {
  .focusable {
    @apply data-[focus-visible]:ring ring-primary-600 dark:ring-primary-dark-400;
  }

  .focus-outline {
    @apply outline focus:outline-primary-600 dark:focus:outline-primary-dark-400;
  }

  .focus-visible-outline {
    @apply outline focus-visible:outline-primary-600 dark:focus-visible:outline-primary-dark-400;
  }
}

@layer components {
  .input {
    @apply border rounded
    bg-info-50 dark:bg-info-dark-700
    border-info-300 dark:border-info-dark-500
    aria-[invalid=true]:border-danger-600 dark:aria-[invalid=true]:border-danger-dark-600

    focus:ring-primary-600 dark:focus:ring-primary-dark-400
    focus:border-primary-600 dark:focus:border-primary-dark-400
    focus:aria-[invalid=true]:ring-danger-600 dark:focus:aria-[invalid=true]:ring-danger-dark-600
    focus:aria-[invalid=true]:border-danger-600 dark:focus:aria-[invalid=true]:border-danger-dark-600

    disabled:bg-info-200 dark:disabled:bg-info-dark-800
    disabled:text-typography-caption dark:disabled:text-typography-caption-dark
    disabled:cursor-not-allowed

    read-only:text-typography-caption dark:read-only:text-typography-caption-dark
    read-only:focus:border-info-400 dark:read-only:focus:border-info-dark-400
    read-only:ring-0
    read-only:cursor-not-allowed;
  }
}

@layer components {
  .dialog {
    @apply bg-info-50 dark:bg-info-dark-700
    rounded
    shadow-lg dark:shadow-info-dark-700
    border dark:border-info-dark-600;
  }
}

@layer components {
  .card {
    @apply bg-info-50 dark:bg-info-dark-700
    rounded-lg
    shadow-lg dark:shadow-info-dark-700
    border dark:border-info-dark-600;
  }
}

@layer components {
  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo settings"
      "navbar navbar";
  }

  @screen md {
    .navbar-grid {
      grid-template-columns: max-content auto max-content;
      grid-template-rows: 1fr;
      grid-template-areas: "logo navbar settings";
    }
  }
}

@layer components {
	.grid-middle-movable {
		display: grid;
		grid-template-columns: 1fr max-content;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
      "left right"
      "middle middle";
	}

	@screen md {
		.grid-middle-movable {
			grid-template-columns: max-content auto max-content;
			grid-template-rows: 1fr;
			grid-template-areas: "left middle right";
		}
	}
}

@layer components {
	.grid-layout-panel {
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-template-columns: 1fr;
		grid-template-rows: max-content auto;
		gap: 0 0;
		grid-template-areas:
      "header"
      "content";
	}
}
